:root {
  --app-font-family: "Shabnam", sans-serif;
}

@font-face {
  font-family: "Shabnam";
  src: url("../app/assets/fonts/Shabnam.woff2") format("woff2");
  /* font-weight: 100; */
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Farhang";
  src: url("../app/assets/fonts/Farhang2-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
button,
input,
textarea,
select {
  font-family: var(--app-font-family);
}
